.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 5rem;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-7);

  transition: all 0.3s ease;
  z-index: 1 !important;
  position: relative;

  // Prevent selection
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__expanded {
    width: 18rem;
  }

  &__upper {
    display: flex;
    flex-direction: column;
  }

  &__sidebar-menu,
  &__sidebar-footer {
    padding: 0.75rem 0;
  }
}
