.dialog {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__row-1,
  &__row-3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__row-1 {
    &>div:first-child {
      flex-basis: 75%;
    }

    &>div:last-child {
      flex-basis: 25%;
    }
  }

  &__row-3 {
    &>div {
      flex-basis: 50%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 0.9rem;
      font-weight: bold;
    }

    &--error,
    &--required {
      color: var(--color-error);
    }
  }

  &__divider {
    margin-top: 1rem !important;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
  }
}
