.wrapper,
.content-wrapper {
  position: relative;
}

.blur-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;
}

.spinner-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: var(--color-overlay);
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
